	h2 {
		padding-top: 0.5em;
		margin: 0 0.3em;
	}
	
	h3{
		margin: 0 0.5em;
	}

	.calendar { width: 100%; font-size: 0.75em;/*12*/ line-height: 1.25em;/*15*/ border-collapse: collapse; border-spacing: 0; }

	.calendar th { text-align: left; }
	.calendar th span { display: none; }

	.calendar tr { display: block; }
	.calendar td,
	.calendar th { display: none; }

	.calendar .day { margin: 1em 0 .5em 0; font-weight: bold; }

	.calendar .events { display: block; }

	.calendar ul { display: block; list-style: none; margin: 0 1.25em 0 0;/*15*/ padding: 0; }
	.calendar li { display: block; position: relative; margin: 0; padding: 0; height: 1.25em;/*15*/ float: none;}
	.calendar li a { display: block; position: absolute; left: 0; right: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }
	.calendar li p {color: #16576b; }
	
	.calendar tr td:nth-of-type(1n) .day:before { content: 'Monday '; }
	.calendar tr td:nth-of-type(2n) .day:before { content: 'Tueday '; }
	.calendar tr td:nth-of-type(3n) .day:before { content: 'Wednesday '; }
	.calendar tr td:nth-of-type(4n) .day:before { content: 'Thursday '; }
	.calendar tr td:nth-of-type(5n) .day:before { content: 'Friday '; }
	.calendar tr td:nth-of-type(6n) .day:before { content: 'Saturday '; }
	.calendar tr td:nth-of-type(7n) .day:before { content: 'Sunday '; }

	.calendar .prev-month,
	.calendar .next-month { display: none; }

	@media only screen and (min-width: 30em) { /*480*/


		.calendar tr { display: table-row; }
		.calendar th, .calendar td { display: table-cell !important; margin: 0; width: 14.2857%; padding: 0.4166em;/*10*/ border: 1px solid #babcbf; vertical-align: top; }

		.calendar .prev-month .day,
		.calendar .next-month .day { color: #bbb; }

		.calendar td .day { display: block; float: right; margin: 0; font-weight: normal; }
		.calendar td .day:before { display: none; }
		.calendar td .suffix { display: none; }

	}

	@media only screen and (min-width: 40em) { /*640*/
	
		/* show full days (e.g. "Mon" to "Monday") */
		.calendar th span { display: inline; }

	}

	@media only screen and (min-width: 40em) and (min-height: 20em) {

		.calendar td { height: 6.5em;/*30*/ }

	}
	@media only screen and (min-width: 40em) and (min-height: 40em) {

		.calendar td { height: 6.25em;/*75*/ }