/* RESET 
-----------------------------------------------------*/
* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td, center { text-align: left; vertical-align: top; }
body { line-height: 1; background: white; color: black; }
q { quotes: "" ""; }
ul, ol, dir, menu { list-style: none; }
sub, sup { vertical-align: baseline; }
a { color: inherit; }
hr { display: none; } 
font { color: inherit !important; font: inherit !important; color: inherit !important; } 
marquee { overflow: inherit !important; -moz-binding: none; }
blink { text-decoration: none; }
nobr { white-space: normal; }

/*
-----------------------------------------------------*/
body {
	width: 960px;
}

#wrapper {
	margin: 0 auto;
	width: 90%;
}

#logo {
	float: left;
	width: 80%;
}

h1 {
	font-size: 2em;
	font-family: 'Oriya MN';
}

h2 {
	font-size: 1.5em; font-family: 'Oriya MN';
}

h3 {
	font-size: 1.25em; font-family: 'Oriya MN';
}

p {
	font-family: 'Oriya Sangam MN';
}

li {
	float: left;
	width: 15%;
	font-family: 'Oriya Sangam MN';
}

ul {
	width: 100%;
	list-style-type: none;
}

/* Header
-----------------------------------------------------*/
header {
	margin-bottom: 1em;
}

#search {
	font-family: 'Oriya Sangam MN';
}

/* Navigation
-----------------------------------------------------*/
nav {
	clear: both;
	margin-bottom: 1em;
}

#main_image {
	clear: both;
}

/* Left Column Content
-----------------------------------------------------*/
#left_column {
	float: left;
	width: 70%;
	padding-bottom: 1em;
}

/* Right Column Content
-----------------------------------------------------*/
#right_column {
	padding-bottom: 1em;
}

/* Footer
-----------------------------------------------------*/
footer {
	clear: both;
}
