/* Colors

Baige: #e0dace
Blue-green: #16576b
light-blue-green: #5792a0
light blue for text: #cdd7de
dark-grey for text: #545555
-----------------------------------------------------*/

/* RESET 
-----------------------------------------------------*/
* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td, center { text-align: left; vertical-align: top; }
body { line-height: 1; background: white; color: black; }
q { quotes: "" ""; }
ul, ol, dir, menu { list-style: none; }
sub, sup { vertical-align: baseline; }
a { color: inherit; }
hr { display: none; } 
font { color: inherit !important; font: inherit !important; color: inherit !important; } 
marquee { overflow: inherit !important; -moz-binding: none; }
blink { text-decoration: none; }
nobr { white-space: normal; }

/*
-----------------------------------------------------*/
body {
	width: 960px;
	margin: 0 auto;
}

#wrapper {
	margin: 0 auto;
	width: 90%;
	background: #e0dace;
}

h1 {
	font-size: 2em; font-family: 'Oriya MN'; color: #cdd7de;
	text-shadow: 2px 2px 2px #111;
}

h2 {
	font-size: 1.5em; font-family: 'Oriya MN'; color: #545555;
	padding-bottom: 0.5em;
}

h3 {
	font-size: 1.25em; font-family: 'Oriya MN'; color: #545555;
}

h4 {
	font-family: 'Oriya Sangam MN'; color: #545555;
}

p {
	font-family: 'Oriya Sangam MN'; color: #545555;
}

li {
	float: left;
	font-family: 'Oriya Sangam MN'; color: #cdd7de;
}

ul {
	list-style-type: none;
}

/* Header
-----------------------------------------------------*/
header {
	background: #16576b;
	padding: 1em;
}

#logo {
	float: left;
	width: 72.5%;
}

#searchbox {
	font-family: 'Oriya Sangam MN'; color: #cdd7de;
}

#search label {
	float: left;
	padding: 0.5em;
}

/* Navigation
-----------------------------------------------------*/
nav {
	clear: both;
	background: #5792a0;
}

nav ul {
	width: 864px;
	margin: 0 auto;
}

nav li {
	display: inline-block;
	width: 16.66666666667%;
}

nav a {
	background: #5792a0;
	display: block;
	text-align: center;
	line-height: 30px;
}

nav a:hover {
	color: #545555;
	background: #cdd7de;
}

nav a:active {
	color: #545555;
	background: #fff;
}

/* Main Image
-----------------------------------------------------*/

#main_image {
	clear: both;
}

/* Left Column Content
-----------------------------------------------------*/
#left_column {
	float: left;
	width: 580px;
	padding: 1em;
}

#left_column img {
	float: left;
	padding-right: 0.5em;	
}

#news2, #news3 {
	clear: both;
	padding: 1em 0;
}

/* Right Column Content
-----------------------------------------------------*/
#right_column {
	padding: 1em;
}

/* Footer
-----------------------------------------------------*/
footer {
	clear: both;
	background: #5792a0;
	padding: 1em;
}

footer li {
	width: 12%;
}

footer p {
	color: #cdd7de;
	clear: both;
	padding-top: 0.5em;
}

footer a:hover {
	color: #545555;
}

footer a:active {
	color: #16576b;
}

